
.form-select:focus{
    box-shadow: none;
}
.accordion-button {
  background-color: white !important;
  color: #1877F2;
  padding-inline: 3px;
  padding-bottom: 3px;
  font-size: 14px;
}
.accordion-button::after {
    content: none;
}
.accordion-button:focus, .form-check-input:focus {
    box-shadow: none;
} 
.accordion-button:not(.collapsed) {
    border-bottom: 1px solid  #6c757d;;
}
/* slider */
.multi-range-slider-container > .multi-range-slider {
    box-shadow: none;
    border: none;
    padding-bottom: 0px;
  }
  .multi-range-slider-container > .multi-range-slider .thumb::before {
    box-shadow: none;
    margin: -4px -9px;
    width: 13px;
    height: 13px;
  }
  .multi-range-slider-container > .multi-range-slider .bar-right,
  .multi-range-slider-container > .multi-range-slider .bar-left {
    box-shadow: inset 0px 0px 3px black;
    height: 5px;
    padding: 0;
  }


  .multi-range-slider-container > .multi-range-slider .thumb .caption * {
  background-color: #A71A35;;
  border-radius: 50px;
  font-size: 13px;
  color: white;
  box-shadow: none;
  margin-right: 9px;
}
